*{margin: 0;padding: 0;box-sizing: border-box;list-style-type: none;text-decoration: none;}

header{
    padding: 30px;
    background-color: #d8d8d8;
}
header ul{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul a{
    padding: 5px 10px;
    color: #000000;
}





.paroli input{margin: 50px 500px;}
.paroli :nth-child(2){width: 70px;background-color: #ff000021; margin: 1px 550px;border: 2px solid #000000;}
.paroli :nth-child(3){margin-left: 500px;margin-top: 20px;}